.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

h1 {
  text-align: center;
}

main {
  margin: auto;
}

ul li {
  list-style: none;
}

ul button {
  /* background-color: transparent; */
  border: none
}